.node0 {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.node1 {
  display: grid;
  width: calc(var(--spacing) * 4.5);
  height: calc(var(--spacing) * 4.5);
  place-items: center;
  border-radius: 0.25rem;
  border-style: var(--tw-border-style);
  border-width: 1.6px;
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

.node2 {
  color: var(--color-white);
}

.node2 {
  :is(& > *) {
    display: none;
  }
}

.node2 {
  :is(& > *) {
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3);
  }
}

.node2 {
  &[ui-disabled] {
    color: var(--color-slate-50);
  }
}

.node3 {
  &[ui-checked] {
    display: block;
  }
}

.node4 {
  &[ui-mixed] {
    display: block;
  }
}

.node5 {
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}
@layer properties {
  @supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))) {
    *, ::before, ::after, ::backdrop {
      --tw-border-style: solid;
    }
  }
}