.node0 {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.node1 {
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
}