.node0 {
  padding:calc(var(--spacing) * 4);
  background-color:color-mix(in srgb, var(--colors-brand) var(--un-bg-opacity), transparent);
}

@supports (color: color-mix(in lab, red, red)){
.node0 {
  background-color:color-mix(in oklab, var(--colors-brand) var(--un-bg-opacity), transparent);
}
}